body {
    background-color: rgb(224, 224, 244);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(111, 111, 150);
}


.navbar {
    background-color: white;
}


.navbar-brand,
.navbar .nav-link {
    color: white;
    font-weight: 500;
}


.navbar .nav-link.active {
    color: #ffd966;
    font-weight: 700;
    text-decoration: underline;
}


.navbar .nav-link:hover {
    color: #ffeaa7;
}

.page-section {
    background-color: rgb(224, 224, 244);
    padding: 2rem;
    min-height: calc(100vh - 56px); 
}


.welcome {
    font-size: 1.4rem;
    font-weight: 600;
}


#pets li {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.4rem;
    font-weight: 700;
}
